html {
    font-family: Arial, Helvetica, sans-serif;
}
.controls {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}

.controls label{
    padding-left: 20px;
    padding-right: 10px;
}

.controls #visualizer {
    padding-left: 20px;
}

#main {
    display: flex;
    flex-direction: row;
}

#documentation {
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    max-width: 35vw;
}

li {
    margin-top: 5px;
}

#doc-nav{
    display: flex;
    flex-direction: row;
}

#doc-nav>li {
    list-style-type: none;
    padding-left: 20px;
    
}

#hide {
    display: none;
}

#about {
    padding: 20px;
    width: 50%;
}

#blocklyDiv {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

}

#run {
    width: 100px;
}

.subtitle {
    color: white;
    width: 50vw;
    text-align: right;
}

#docs {
    display: flex;
    flex-direction: row;
}