html {
    font-family: Arial, Helvetica, sans-serif;
}
.controls {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}

.controls label{
    padding-left: 20px;
    padding-right: 10px;
}

.controls #visualizer {
    padding-left: 20px;
}

#main {
    display: flex;
    flex-direction: row;
}

#documentation {
    margin-left: 50px;
    border: 1px black solid;
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    height: 800px;
}

li {
    margin-top: 5px;
}

#doc-nav{
    display: flex;
    flex-direction: row;
}

#doc-nav>li {
    list-style-type: none;
    padding-left: 20px;
    
}

#hide {
    display: none;
}

.nav-item .nav-link {
    text-align: right;
}

#about {
    padding: 20px;
}

#blocklyDiv {
    margin-left: 20px;
}