body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

#textarea {
    width: 500px;
    height: 478px;
    padding: 10px;
    border: 1px black solid;
    margin-left: 5px;
}

#controls {
    margin-left: 5px;
}